body{
  background-color: #f4a261;
  max-width: 62.5em;
  margin: auto;
  padding: 0.625em;
}

.firstRow{
background-color: #e76f51;
position: sticky;
top: 0;
z-index: 9999;
margin-left: 2em;
margin-right: 2em;}

a{
  font-size:3em;
  font-family: 'Amatic SC', cursive;
  color: white;
  margin-left: 1.875em;
  margin-top: 2em
}

table {
  margin-left: 0em;
  margin-top: 0.625em;
  border-spacing: 1.875em;
  font-family: 'Amatic SC', cursive;
  color: #264653;
  font-size: 1.3em;
}
h1{
  color: #264653
}
