body {
  background-color: #2a9d8f;
  max-width: 62.5em;
  margin: auto;
  padding: 0.625em;

}

.firstRow{
background-color: #264653;
position: sticky;
top: 0;
z-index: 9999;
margin-left: 2em;
margin-right: 2em;

}
.first{

  margin-left: 2em;
  margin-right: 2em;

}

.titolo{
  color: #264653;
  font-size:3.5em;
  position:relative;
  left:0.5em;
  top:3em;
  font-family: 'Pacifico', cursive;

}



.lampadina{
  width: 20.875em;
  height: 20.875em;
  position: relative;
  left:18.625em;
  bottom: 7.375em;
}

.nuvola{
  width: 20.625em;
  height: 20.625em;
  position: relative;
  left:29.375em;
  bottom:19em;
}

h2 {
  font-family: 'Amatic SC', cursive;
}
a{

  font-size:3em;
  font-family: 'Amatic SC', cursive;
  color: white;
  margin-left: 1.875em;
  margin-top: 2em
}



.second{
  font-family: 'Amatic SC', cursive;
  color: white;
  height: 50em;
  margin-top: 16em;
  margin-left: 2em;
  margin-right: 2em;

  background-color: #264653;


}


table{
  font-size: 1.8em;
  position:relative;
  left: 3.125em;
  top:1em;
}
.smartphone{

  position: relative;

  left: 28.875em;
  bottom: 34.125em;
}

.groupon{
  position: relative;

  bottom: 37.5625em;
  left:5.1875em;
}

.title{
  font-size: 50px;
}

td{
  vertical-align: text-top;

}

.third{
  font-family: 'Amatic SC', cursive;
  color: white;
  height: 50em;
  margin-top: 16em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #31393c
}

.stats{
  position: relative;
  margin-right: 2em;
  width: 20em;
  height: 20em;
  left: 34.5em;
  bottom:23.75em;
}

.social {
  width: 20em;
  position: relative;
  bottom:  3.125em;
  left:  3.125em;

}

.targ {

  height: 20em;
  width: 20em;
  position: relative;
  left: 32.5em;

}

.fourth {
  font-family: 'Amatic SC', cursive;
  color: white;
  height: 50em;
  margin-top: 16em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #264653

}

.pipe {
  width: 20em;
  position: relative;
  left:34em;
  bottom: 18.75em;

}
